
services:

#Application Services
  postgres:
    container_name: postgres
    image: postgres:18.1
    hostname: localhost
    expose:
      - "5432"
    environment:
      POSTGRES_USER: nexus
      POSTGRES_PASSWORD: trinnex
      POSTGRES_DB: studentdata
    volumes:
      - postgres-data:/var/lib/postgresql
      - type: bind
        source: ./db
        target: /var/lib/postgresql/dbData
      - ./ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom
    restart: unless-stopped
    networks:
      - nexusnet

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    depends_on:
      - postgres
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: mhaynes@trinityedu.net
      PGADMIN_DEFAULT_PASSWORD: AlphaNum#1
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    restart: unless-stopped
    networks:
      - nexusnet

  trinitydbsvr:
    container_name: trinityDbSvr
    build:
      context: ./server
    environment:
      NODE_ENV: production
    depends_on:
      - postgres
    ports:
      - 3000:3000
    restart: unless-stopped
    networks:
      - nexusnet

  trinitynexus:
    container_name: trinitynexus
    build:
      context: ./client
    environment:
      NODE_ENV: production
    expose:
      - 80
      - 443
    networks:
      - nexusnet

#Network and Routing
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - nexusnet

#Authentication stack
  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "Trinity Allied Healthcareer Academy"
      LDAP_DOMAIN: "trinityedu.net"
      LDAP_ADMIN_PASSWORD: "rudygotthechalk"
      LDAP_CONFIG_PASSWORD: "rudygotthechalk"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    ports:
      - "389:389"
      - "636:636"
    networks:
      - nexusnet

  lam:
    image: ldapaccountmanager/lam:latest
    container_name: lam
    depends_on:
      - openldap
    environment:
      LAM_PASSWORD: "lamadminpassword"
      LDAP_SERVER: "ldap://openldap:389"
    ports:
      - "8081:80"
    networks:
      - nexusnet

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2
    container_name: keycloak
    command:
      - start-dev
    depends_on:
      - openldap
    environment:
      KC_DB: dev-file
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: rudygotthechalk
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
    ports:
      - "8082:8080"
    volumes:
    - keycloak_data:/opt/keycloak/data
    networks:
      - nexusnet

#Volumes and network config      
volumes:
  pgadmin_data:
  postgres-data:
  keycloak_data:
  ldap_data:
  ldap_config:

networks:
  nexusnet:
    driver: bridge
  
# The commented out section below is an example of how to define a PostgreSQL
# database that your application can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker-compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

